main {
  max-width: 900px;
  border-radius: 5px;
  margin-top: 70px;
  padding: 40px;
  background-color: #ffffffAA;
  box-shadow: 0 2px 8px #000000AA;

  small{
    color: red
  }
  table {
    max-width: 1085px;
    margin: 40px auto 20px;
  }
}
